.image-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.edit-pet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
